* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: yellow;
}
.titulo-principal {
  font-style: italic;
  font-size: 25px;
  position: relative;
  left: 170px;
}

.img {
  width: 1000px;
  height: 350px;
  background-image: url(./imagenes/design1_image2.jpg);
  background-size: cover;
  background-position-y: -45px;
  margin-left: 170px;
}
.h2 {
  margin-left: 168px;
}
h2 {
  width: 1000px;
  background-color: black;
  text-align: center;
  color: beige;
  margin: 2px;
  padding: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  position: absolute;
}

button {
  width: 95px;
  margin: 4px;
  font-size: 20px;
  color: aliceblue;
  background: black;
}
main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#logo {
  position: absolute;
  right: 0;
  top: 0;
}
.texto{
  position: absolute;
  left: 250px;
  top: 470px;
}
.img1 {
  position: absolute;
  width: 30%;
  right: 180px;
}
.img2{
  position: absolute;
  width: 41%;
  left: 169px;
  top: 850px;
}
.texto1 {
  width: 590px;
  height: 300px;
  position: absolute;
  left: 170px;
  top: 470px;
}
.texto2 {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 500px;
  top: 500px;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-indent: 4%;
}

.li1 {
  list-style-type: lower-latin;
}
.li2 {
  list-style-type: circle;
}
table{
  position: absolute;
  left: 169px;
  top: 450px;
}

td,th{
  border: 1px solid black;
  padding: 8px 20px;
}


form{
  position: absolute;
  left: 5px;
  top: 450px;
  border: 7px solid black;
  border-radius: 25px;
  padding: 35px;
}

fieldset{
  margin:25px;
  border-color: transparent;
}
.placesList{
    
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.maps {
  position: absolute;
  width: 30%;
  right: 180px;
}


